/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #030303;
    color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    background-color: #eee;
    border-radius: 50%;
}

.logo-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content {
    display: flex;
    height: calc(100vh - 80px);
}

.form-container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E6EAF5;
}

.form-container form {
    width: 300px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-container input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container input[type="submit"]:hover {
    background-color: #45a049;
}

.illustration {
    flex: 1;
    /* background-image: url('<?= base_url('assets/gambar/ilustrasi.jpg') ?>); */
    background-size: cover;
    background-position: center top;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .illustration {
        border-radius: 0;
        border-top-right-radius: 8px;
    }
}
